# Ignore IDE configuration files
.idea/
.vscode/
.pylintrc

# Ignore PyInstaller build artifacts
dist/
build/

# Ignore Python cache files
__pycache__/
.ipynb_checkpoints/

# Ignore virtual environments
.venv/