sympy
flask
gevent

# Optional：

# IPython (if you want to use main.ipynb, still need jupyter)
# jupyter (if you want to use main.ipynb, still need IPython)
# pyinstaller (if you want to build a standalone executable)
# matplotlib (if you want to visualize equivalent expression derivation trees)